:root {
    --bg-color-main: #780109;
    --bg-color-element: #95222A;
    
    --text-color-element: #F6F7F8; /* 7.7 Ratio */
    --text-color-tag-darker: #242424;
    --border-element: solid #871619;
    --shadow-element: 3px 10px 3px 1px #6C1114;
}

@font-face {
    font-family: "KodeMono";
    src: url(/res/fonts/KodeMono-VariableFont_wght.ttf);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color-main);
    color: var(--text-color-element);
    font-family: "KodeMono", sans-serif;
    font-size: clamp(1.125rem, 1.0556rem + 0.3704vw, 1.5rem);
}

/* ----------------- */

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem 0;
    border-bottom: 5px solid var(--bg-color-element);
}

h1 {
    font-size: clamp(1.5625rem, 0.9375rem + 2.7778vw, 2.8125rem);
}

#search-bar-container {
    display: flex;
    align-items: center;
    background: var(--bg-color-element);
    border: 2px var(--border-element);
    border-radius: 8px;
    overflow: hidden;
}

#search-bar-container label {
    padding: .15rem 1rem;
    cursor: pointer;
}

#search-bar-container input {
    padding: .5rem .4rem;
    background-color: transparent;
    border: none;
    color: var(--text-color-element);
    font-family: "KodeMono", sans-serif;
    font-size: clamp(1.125rem, 1.0556rem + 0.3704vw, 1.5rem);
    animation: searchBarOff .3s forwards;
}

#search-bar-container input.not-active {
    display: none;
}

#search-bar-container input.active {
    display: block;
    animation: searchBarOn .3s forwards;
}

@keyframes searchBarOn {
    0% {
        width: 0px;
    }
    100% {
        width: 260px;
    }
}

@keyframes searchBarOff {
    0% {
        width: 260px;
    }
    100% {
        width: 0px;
    }
}

#search-bar-container input::placeholder {
    color: #BFBFBF;
}

#search-bar-container input:focus {
    outline: none;
}

/* CARDS */

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.poke-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color-element);
    width: 320px;
    height: 420px;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: var(--shadow-element);
    cursor: pointer;
    text-transform: capitalize;
}

.poke-cards img {
    margin: 0.5rem 0;
    width: 200px;
    object-fit: contain;
}

.poke-cards:hover {
    animation: cardsHover 1s infinite;
}

@keyframes cardsHover {
    0%, 100% {
        transform: translateY(0px);
        box-shadow: var(--shadow-element);
    }

    25% {
        transform: translateY(2px);
        box-shadow: 3px 8px 3px 1px #6C1114;
    }

    75% {
        transform: translateY(-2px);
        box-shadow: 3px 12px 3px 1px #6C1114;
    }
}

.id {
    color: #BFBFBF;
}

/* TAGS */

.type-tag {
    margin-top: .25rem;
    padding: .25rem .5rem;
    text-align: center;
    border-radius: 6px;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--text-color-tag-darker);
}

.fire {
    background-color: #FD7D24;
}

.grass {
    background-color: #9BCC50;
}

.water {
    background-color: #4592C4;
}

.poison {
    background-color: #B97FC9;
}

.bug {
    background-color: #729F3F;
}

.flying {
    background-color: #82BAEF;
}

.normal {
    background-color: #A4ACAF;
}

.electric {
    background-color: #EED535;

}

.ground {
    background-color: #AB9842;
}

.fairy {
    background-color: #FDB9E9;
}

.psychic {
    background-color: #F366B9;
}

.fighting {
    background-color: #D56723;
}

.rock {
    background-color: #A38C21;
}

.steel {
    background-color: #9EB7B8;
}

.ice {
    background-color: #3DD9FF;
}

.ghost {
    background-color: #7B62A3;
    color: var(--text-color-element);
}

.dragon {
    background-color: #5060E1;
    color: var(--text-color-element);
}


/* RESPONSIVE */

@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 1rem;
    }
}